
/* main container */
.container {
  // padding: 5rem 0;
  width: 80%;
  max-width: 1210px;
  margin: 0 auto;
}

.game-board {
  width: 100%;
  display: flex;
  justify-content: center;
}

.game-controls {
  margin: 2rem 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttons {
      margin: 1rem 0;

      button {
          margin: 0 1rem;
          color: #fafafa;
          background: #1e74c9;
          padding: 1rem 1.5rem;
          border: 1px solid #14528f;
          border-radius: 0.5rem;
          text-transform: uppercase;

          &:hover {
              cursor: pointer;
          }
      }
  }

  .options {
      margin: 1rem 0;

      label {
          font-size: 1.6rem;
          line-height: 2.6rem;
          font-weight: 300;
          color: #f0f0f0;
      }

      input {
          height: 2.5rem;
          font-size: 1.6rem;
          line-height: 2.6rem;
          font-weight: 300;
          padding-left: 0.5rem;
      }

      p {
          font-size: 1.6rem;
          line-height: 2.6rem;
          font-weight: 500;
          color: #f0f0f0;
          margin: 1rem 0;
      }

      .color-picker {
          margin: 2rem 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          h3 {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              color: #f0f0f0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 3rem;
              margin-bottom: 2rem;
          }
      }
  }

}

.game-rules {
  width: 100%;
  height: 100vh;
  background: #111111;
  color: #f0f0f0;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.8rem;
  padding: 3rem;

  h3 {
      font-size: 3rem;
      font-weight: 500;
      line-height: 4rem;
      margin-bottom: 1rem;
  }

  p {
      margin-bottom: 1rem;
  }
}

/* typography */

h1 {
  margin: 5rem 0 2rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 5rem;
  color: #f0f0f0;
  text-align: center;
}

h3 {
    margin: 1rem 0 2rem;
    font-size: 2rem;
    font-weight: 900;
    color: #f0f0f0;
    text-align: center;
  }